:root {
  /* min-height: 100vh; */
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;

  font-family: sans-serif;

  display: grid;
  grid-template: "header" auto "main" 1fr "footer" auto;
}

@media screen and (min-width: 14em) {
  header h1:before {
    content: '📛';
    padding-right: 0.2em;
  }
}

footer {
  font-size: small;
  text-align: center;
}

footer a {
  text-decoration: none;
}

login-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

login-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

login-links ul li { }
login-links ul li a { display: block; }
login-links ul li a img {
  min-width: 80px;
  min-height: 80px;
}
